* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background: $white;
    min-width: 280px;
    color: $black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    font-family: 'Fira Sans', sans-serif;
}
